/* 
    1. Inline
    2. ID
    3. Clase, Pseudo-Classe, Atributo
    4. Elemento, Pseuco-Elemento
*/

body { font-size: 30px; }

div { background-color: #0000bb; color: #ffffff; }
div[ wm-cor ] { background-color: darkgoldenrod; }
div.estilo { background-color: green; }
div:hover, #unico1:hover { background-color: purple; }
#unico1, #unico2 { background-color: #000000; }
