.fora {
    position: relative;
    background-color: orange;
    height: 200px;
    width: 500px;
    padding: 25px;
}

.dentro {
    background-color: mediumvioletred;
    height: 50px;
    width: 100%;
    position: static;   /* conteudo */
    position: relative; /* conteudo */
    position: absolute; /* conteudo + padding*/
    position: fixed;    /* viewport */
}